.applyListButton {
  cursor: pointer;
  color: rgb(106, 106, 106);
  margin-top: 25px;
  display: flex;
  flex-direction: row-reverse;
  right: 0;
  bottom: 0;
  position: absolute;
  margin: 0px 10px 10px 0px;
}

.extraActionButton {
  cursor: pointer;
  color: rgb(106, 106, 106);
  margin-top: 25px;
  display: flex;
  flex-direction: row-reverse;
  right: 50px;
  bottom: 0;
  position: absolute;
  margin: 0px 10px 10px 0px;
}

.extraActionButton2 {
  cursor: pointer;
  color: rgb(106, 106, 106);
  margin-top: 25px;
  display: flex;
  flex-direction: row-reverse;
  right: 110px;
  bottom: 0;
  position: absolute;
  margin: 0px 10px 10px 0px;
}

.errorText {
  padding-top: 3px;
  color: #ff5858;
  margin-bottom: 10px;
  width: fit-content;
  position: absolute;
  left: 32px;
  bottom: 7px;
}

.practiceOptions {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}
