.applyListButton {
  cursor: pointer;
  color: rgb(106, 106, 106);
  margin-top: 25px;
  display: flex;
  flex-direction: row-reverse;
  right: 0;
  bottom: 0;
  position: absolute;
  margin: 0px 10px 10px 0px;
}

.errorText {
  padding-top: 3px;
  color: #ff5858;
  margin-bottom: 10px;
  width: fit-content;
  position: absolute;
  left: 32px;
  bottom: 7px;
}

.practiceOptions {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.practicedWordsList {
  /* background-color: #ff5858; */
  height: 100%;
  overflow-y: scroll;
  width: 100%;
}

.practicedWordItem {
  display: flex;
}

.practicedEnglish {
  width: 50%;
  padding: 10px;
}

.practicedSpanish {
  padding: 10px;
}

.practiceRemoveButton {
  padding-top: 13px;
  margin-right: 10px;
  color: #f44336;
  cursor: pointer;
}
