.practiceBox {
  height: 100%;
  width: 100%;
}

.practicedWordsList {
  height: 90%;
  overflow-y: scroll;
}

.amountOption {
  display: flex;
}

.amountInput {
  margin-left: 10px;
  width: 40px;
}

.practicedWordItem {
  display: flex;
}

.practiceRemoveButton {
  padding-top: 13px;
  margin-right: 10px;
  color: #f44336;
  cursor: pointer;
}
.practicedEnglish {
  width: 50%;
  padding: 10px;
}

.practicedSpanish {
  padding: 10px;
}
