.optionItemToChange {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.amountInput {
  margin-left: 10px;
  width: 40px;
}

.enableRevealOptionTitle {
  height: fit-content;
  margin-top: auto;
  margin-bottom: auto;
}

.wordsToAddTitle {
  display: flex;
}

.addWordsButton {
  padding-top: 2px;
  cursor: pointer;
}
