.optionItemToChange {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.amountInput {
  margin-left: 10px;
  width: 40px;
}

.enableRevealOptionTitle {
  height: fit-content;
  margin-top: auto;
  margin-bottom: auto;
}

.wordsToAddTitle {
  display: flex;
}

.addWordsButton {
  padding-top: 2px;
  cursor: pointer;
}

.clearPracticeBtn {
  margin-top: 10px;
  cursor: pointer;
  text-decoration: underline;
  width: fit-content;
  color: rgb(114, 114, 255);
}
