.exampleSentence {
  font-size: 11px;
  width: fit-content;
  margin: 5px auto 5px auto;
  display: flex;
  cursor: pointer;
}

.exampleSentenceRandomBtn {
  margin-right: 5px;
  color: #66bb6a;
}

.exampleSentenceLoader {
  width: fit-content;
  margin: 5px auto 5px auto;
}
