.card {
  display: flex;
  flex-direction: column;
  background-color: white;
  color: black;
  width: min(63%, 500px);
  margin: auto;
  height: 100%;
  /* border-radius: 10px; */
  position: relative;
  /* box-shadow: 4px 5px 18px 0px rgba(0, 0, 0, 0.75); */
}

.fromToTxt {
  margin: 7px 0px 0px 10px;
}

.audioBtn {
  color: rgb(106 106 106);
  cursor: pointer;
}

.wordDesc {
  margin: auto;
}

.originalWord {
  width: fit-content;

  font-size: 50px;
}

.translationWord {
  width: fit-content;
  margin-right: auto;
  margin-left: auto;
  font-size: 20px;
  margin-top: 13px;
}

.revealButton {
  width: fit-content;
  margin-right: auto;
  margin-left: auto;
  font-size: 20px;
  color: #6868f9;
  cursor: pointer;
  margin-top: 13px;
}

.cardActions {
  position: absolute;
  /* margin-bottom: 10px; */
  bottom: 8px;
  left: 40%;
}

.translationBox {
  display: "flex";
  flex-direction: column;
  margin-bottom: 15px;
  margin-top: 5px;
}

.skipWordActions {
  position: absolute;
  /* margin-bottom: 10px; */
  bottom: 8px;
}
