.card {
  background-color: white;
  color: black;
  padding: 10px;
  width: min(63%, 500px);
  margin: auto;
  border-radius: 10px;
  position: relative;
  box-shadow: 4px 5px 18px 0px rgba(0, 0, 0, 0.75);
}

.fromToTxt {
  margin: 7px 0px 0px 10px;
}

.audioBtn {
  color: rgb(106 106 106);
  cursor: pointer;
}

.originalWord {
  width: fit-content;
  margin-right: auto;
  margin-left: auto;
  margin-top: 10px;
  margin-bottom: 0px;
  font-size: 50px;
}

.translationWord {
  width: fit-content;
  margin-right: auto;
  margin-left: auto;
  font-size: 20px;
}

.revealButton {
  width: fit-content;
  margin-right: auto;
  margin-left: auto;
  font-size: 20px;
  color: #6868f9;
  cursor: pointer;
}

.cardActions {
  position: absolute;
  /* margin-bottom: 10px; */
  bottom: 8px;
}

.translationBox {
  display: "flex";
  flex-direction: column;
  margin-bottom: 15px;
  margin-top: 5px;
}

.exampleSentence {
  font-size: 11px;
  width: fit-content;
  margin: 5px auto 5px auto;
  display: flex;
  cursor: pointer;
}

.exampleSentenceRandomBtn {
  margin-right: 5px;
  color: #66bb6a;
}

.exampleSentenceLoader {
  width: fit-content;
  margin: 5px auto 5px auto;
}
